/* for Planshet */
@media screen and (max-width:990px) {
    .collection{
        position: fixed;
        top: 0;
        left: -70%;
        width: 70%;
        height: 100vh;
        background-color: #0008;
        backdrop-filter: blur(5px);
        flex-direction: column;
        padding-top: 80px;
        transition: 0.5s ease-in;
    }
    .show{
        left: 0;
    }
    .item{
        padding-bottom: 30px;
        margin-right: 0;
    }
    .menu{
        display: block;
    }
}